@{
    ViewBag.Title = "Home Page";
}
<h1>Serviços Background</h1>
<h2>Log</h2>
<p>
    The area below is a dump of the console output that is being refreshed each second. Background jobs
    write a message to the console, so you can see it was performed.
</p>
<pre id="buffer" data-url="@(Url.Action("Buffer", "Home"))">@Model</pre>
<script>
    var objDiv = document.getElementById("buffer");
    objDiv.scrollTop = objDiv.scrollHeight;
</script>


@using (Html.BeginForm("CreateBackGroundJob", "Home"))
{
    <button class="btn btn-primary" type="submit">Criar um serviço eventual</button>
}
<br />

@using (Html.BeginForm("CreateRecurringJob", "Home"))
{
    <button class="btn btn-primary" type="submit">Criar um serviço recorrente</button>
    <a class="btn btn-default" href="@Url.Content("~/hangfire")">Dashboard do HangFire</a>
}